#body {
    margin-top: 2em;
}
body {
    margin-bottom: 5em;
}
pre {
    padding: 0.5em;
}
pre.php {
    background-color: #6f42c1;
    color: white;
}
pre.fluid {
    background-color: #ffc107;
    color: #222222;
}
pre.output {
    background-color: #005cbf;
    color: white;
}